<%- include('includes/start.ejs') %>

<%- include('includes/nav.ejs') %>

    <main>
         <% if(prods.length>0){ %>
            
                <div class="card-deck">
                
            <%for(let p of prods) {%>
                <div class="card bg-success" style="max-width: 10rem;">
  
                <img class="card-img-top" src="<%= p.url %>" alt="<%= p.title %>" style="width: 8rem;">
                
                <div class="card-body">
                <h5 class="card-title"><%= p.title %></h5>
                <p class="card-text"><%= p.price %></p>
                
                <p class="card-text"><%= p.desc %></p>
                <a href="/admin/edit" class="btn btn-warning">Edit</a>
                <br><br>
                <form action="/admin/deleteproduct" method="POST">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                
            
                </div></div>
                 <%}%></div>
          <% }else { %>
            <h1>No Product Found !!</h1>
            <% } %>
    </main>
<%- include('includes/end.ejs') %>